body {
  background-image: url("character_background.png");
  background-size: cover;
}

.index_image {
  margin-left: 800px;
}

.edit_image {
  position: absolute;
  margin-left: 800px;
  bottom: 100px;
}

.new_image {
  position: absolute;
  margin-left: 800px;
  top: 100px;
}

.show_image {
  position: absolute;
  margin-left: 800px;
  top: 100px;
}
